<html lang="en">
  <head>

   <% include partials/head %>
 
  </head>
  <body>
 
    <% include partials/nav %>
 
    <h2>Welcome to the <%= title %> page.</h1>
 
    <h3>This was created by <%= author %>.</h1>
  </body>
</html>